<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>orb_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF18E7AC1B067FE1002ED886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF18E7C21B06804E002ED886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF18E7E11B06804E002ED886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF18E7F91B068111002ED886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFADA4561AF3469B00EBDC31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
